*{
    background-color: rgb(250, 240, 227);
    font-family: karla;
}
main{
    width: 90%;
    margin: auto;
}
.container{
    display: flex;
   align-items: center;
   justify-content:space-between;
 }
 .lista{
     list-style-type: none;
     display: flex;
     justify-content:space-between;
     width: 20%;
 }
 .button{
     border:none; 
     outline:0;
     background:transparent;
 }
 .buttonz{
     display: flex;
     list-style-type: none;
     
 }
 .img{
     display: flex;
     width:540px;}
 .image{
     display:flex;
     justify-content: space-between;
 }
 .unlimited{
     bottom:inline-block;
 
 }
 .ouh{
     color: #13366D;
     font-size:300%;
 }
 .size{
     color: #A2A2A2;
font-size:8px ;

}
.input{
    background-color: white;
    border-radius:10%;
    outline-color:#A2A2A2 ;
    width:55%;
    padding:2%;
    font-size:80%;
}
.serp{
    display:flex; 
    justify-content: space-between;
    width:50%;
    
}
.inline{
    width:10px;
    
}
.hero{
    width:600px;
}
.try{
    background-color: #13366D ;
    border-radius:12%;
    color: white;
    height:30px;
}
.flexbox--item{
    min-height:200px ;
}
.logo{
    color:#13366D ;
}
.change{
    color:#A2A2A2 ;
}
div.brain{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.flexbox--item1{
    width:22%;
    border:#A2A2A2 solid;
    background-color: white;
    padding-left:7px;
}
.sumi{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding-top:5%;
}
.words{
    display: grid;
    font-size:18px;

}
.words p{
    color:#A2A2A2;
    font-size:14px;
    font-family:karla;
}
.day{
    background-color: white;
}
.insi{
    background-color:white;
}
.ard{
    background-color: white;
    color:#A2A2A2;
}
strong {
    color: rgb(17, 17, 16);
    background: none;
}
.caetemis {
    border: #C2C2C2 solid;
    background: #FFF3D9;
    width: 20%;
    border-radius: 2%;
    padding-left: 2%;
    padding-top: 2%;
    height: 300px;
}
.caerus {
    display: grid;
    height: 30%;
    padding-left: 2%;
    background: #FFF3D9;
}
.shady {
    display: flex;
    justify-content: space-between;
}
.nouja {
    font-size: 80%;
    color: #707070;
    padding-left: 2%;
    background: #FFF3D9;
}
.luck {
    height: 48%;
    padding-left: 2%;
}
.notice {
    width: 50%;
    height: 120%;
    border-radius: 12px;
    border: none;
    background: #13366D;
    color: rgb(252, 252, 252);
}
.product {
    width: 80%;
    height: 100%;
    border-radius: 4px;
    border: none;
    background: #0B48A8;
    color: rgb(252, 252, 252);
}
.product2 {
    width: 80%;
    height: 100%;
    border-radius: 4px;
    border: #13366D solid;
    background: none;
    color: #13366D;
}
.container--item {
    border: #afafaf solid ;
    width: 22%;
    border-radius: 2%;
    padding-left: 1%; 
    height: 250px;
}
.noujati {
    font-size: 80%;
    background: #FFF3D9;
}
.race {
    display: flex;
    background: #FFF3D9;
}
.translate {
    background: #FFF3D9;
}
.hok {
    color: #A2A2A2;
    background: #FFF3D9;
}
.kayna {
    background: #FFF3D9;
}
.here {
    color: #A2A2A2;
    background: #FFF3D9;
}
.danadin {
    display: flex;
    background: #FFF3D9;
    padding-top: 8%;
}
.source {
    padding-top: 34%;
    background: #FFF3D9;
}
.necklace-locket {
    color: #13366D;
    padding-top: 4%;
}
.smileback {
    font-size: 80%;
    color: #707070;
    padding-left: 2%;
}
.positive{
color:#A2A2A2;
font-size:80%;
padding-left:2%;
}
.tiempo{
    color:#13366D;
    padding-left:2%;
}